<!-- templates/footer.html -->

{% load i18n %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="text-uppercase">{% trans "About" %}</h5>
                <p>
                    {% trans "Riskhunters is a platform that helps gamblers assess and plan risk management." %}
                </p>
            </div>
            <div class="col-lg-4">
                <h5 class="text-uppercase">{% trans "Links" %}</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'home' %}" class="text-dark">{% trans "Home" %}</a>
                    </li>
                    <!-- Add other footer links here -->
                </ul>
            </div>
            <div class="col-lg-4">
                <h5 class="text-uppercase mb-0">{% trans "Contact" %}</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:info@example.com" class="text-dark">info@example.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <p>Copyright © 2023  <a href="#">Riskhunters</a>. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>

