<!-- templates/navbar.html -->
{% load i18n static %}
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'home' %}" class="logo">
                        <img src="{% static 'img/logo.png' %}"    alt="Logo">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Search End ***** -->
                    <div class="search-input">
                        <form id="search" action="#">
                            <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                            <i class="fa fa-search"></i>
                        </form>
                    </div>
                    <!-- ***** Search End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'home' %}" class="active">{% trans "Home" %}</a></li>
                        <li><a href="browse.html">{% trans "Browse" %}</a></li>
                        <li><a href="details.html">{% trans "Details" %}</a></li>
                        <li><a href="streams.html">{% trans "Streams" %}</a></li>
                        <li><a href="profile.html"><i class="fa fa-user"></i>{% trans "Profile" %}</a></li>
                        <!-- Include the modal trigger button here -->
                        <li class="nav-link dropdown language">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="modal"
                                    data-bs-target="#setLang" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-globe" style="font-size:15x;color:#DF9F28"></i> {% trans 'language' %}
                            </button>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="modal fade" id="setLang" tabindex="-1" role="dialog" aria-labelledby="setLangLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content dark-mode">
            <div class="modal-header">
                <i class="fa fa-globe" style="font-size:30px;color:#DF9F28"></i>
                <i class="fa fa-globe" style="font-size:30px;color:#37517e"></i>
                <i class="fa fa-globe" style="font-size:30px;color:#DF9F28"></i>
                <i class="fa fa-globe" style="font-size:30px;color:#37517e"></i>
                <i class="fa fa-globe" style="font-size:30px;color:#DF9F28"></i>
                <i class="fa fa-globe" style="font-size:30px;color:#37517e"></i>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-2 col-6 mx-auto" style="align:center;">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    {% for lang in languages %}
                    <form action="/i18n/setlang/" method="POST">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        {% if lang.code == 'en'%}
                        <input name="language" type="hidden" value="{{ lang.code }}">
                        <a class="dropdown-item">
                            <button style="width:100%;" class="btn btn-secondary-soft" type="submit">
                                <span class="flag-icon flag-icon-us"></span>   <b>{{ lang.name_local }}</b>
                            </button>
                        </a>
                        {% else %}
                        <input name="language" type="hidden" value="{{ lang.code }}">
                        <a class="dropdown-item">
                            <button style="width:100%;" class="btn btn-secondary-soft" type="submit">
                                <span class="flag-icon flag-icon-{{ lang.code }}"></span>  <b>{{ lang.name_local }}</b>
                            </button>
                        </a>
                        {% endif%}

                    </form>
                    {% endfor %}

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
            </div>
        </div>
    </div>
</div>
