{% load static %}

<!-- ***** Most Popular Start ***** -->
<div class="most-popular">
    <div class="row">
        <div class="col-lg-12">
            <div class="heading-section">
                <h4><em>Most Popular</em> Right Now</h4>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img alt="" src="{% static 'img/popular-01.jpg'%}">
                        <h4>Fortnite<br><span>Sandbox</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img alt="" src="{% static 'img/popular-02.jpg'%}">
                        <h4>PubG<br><span>Battle S</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img alt="" src="{% static 'img/popular-03.jpg'%}">
                        <h4>Dota2<br><span>Steam-X</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img alt="" src="{% static 'img/popular-04.jpg'%}">
                        <h4>CS-GO<br><span>Legendary</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="item inner-item">
                                    <img alt="" src="{% static 'img/popular-05.jpg'%}">
                                    <h4>Mini Craft<br><span>Legendary</span></h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i> 4.8</li>
                                        <li><i class="fa fa-download"></i> 2.3M</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="item">
                                    <img alt="" src="{% static 'img/popular-06.jpg'%}">
                                    <h4>Eagles Fly<br><span>Matrix Games</span></h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i> 4.8</li>
                                        <li><i class="fa fa-download"></i> 2.3M</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img alt="" src="{% static 'img/popular-07.jpg'%}">
                        <h4>Warface<br><span>Max 3D</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img alt="" src="{% static 'img/popular-08.jpg'%}">
                        <h4>Warcraft<br><span>Legend</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="main-button">
                        <a href="browse.html">Discover Popular</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Most Popular End ***** -->